@font-face {
    font-family: 'NanumSquareRound';
    src: url('NanumSquareRoundR.eot');
    src: local('NanumSquareRound Regular'), local('NanumSquareRoundR'),
    url('NanumSquareRoundR.eot?#iefix') format('embedded-opentype'),
    url('NanumSquareRoundR.woff2') format('woff2'),
    url('NanumSquareRoundR.woff') format('woff'),
    url('NanumSquareRoundR.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
