@font-face {
	font-family: "NanumSquare";
	src: url("NanumSquareLight.eot");
	src: local("NanumSquare Light"),
	url("NanumSquareLight.eot") format("embedded-opentype"),
	url("NanumSquareLight.woff2") format("woff2"),
	url("NanumSquareLight.woff") format("woff"),
	url("NanumSquareLight.ttf") format("truetype"),
	url("NanumSquareLight.svg#NanumSquare Light") format("svg");
	font-style: normal;
	font-weight: 100;
}
@font-face {
	font-family: "NanumSquare";
	src: url("NanumSquareRegular.eot");
	src: local("NanumSquare Regular"),
	url("NanumSquareRegular.eot") format("embedded-opentype"),
	url("NanumSquareRegular.woff2") format("woff2"),
	url("NanumSquareRegular.woff") format("woff"),
	url("NanumSquareRegular.ttf") format("truetype"),
	url("NanumSquareRegular.svg#NanumSquare") format("svg");
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: "NanumSquare";
	src: url("NanumSquareBold.eot");
	src: local("NanumSquare Bold"),
	url("NanumSquareBold.eot") format("embedded-opentype"),
	url("NanumSquareBold.woff2") format("woff2"),
	url("NanumSquareBold.woff") format("woff"),
	url("NanumSquareBold.ttf") format("truetype"),
	url("NanumSquareBold.svg#NanumSquare Bold") format("svg");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "NanumSquare";
	src: url("NanumSquareExtraBold.eot");
	src: local("NanumSquare ExtraBold"),
	url("NanumSquareExtraBold.eot") format("embedded-opentype"),
	url("NanumSquareExtraBold.woff2") format("woff2"),
	url("NanumSquareExtraBold.woff") format("woff"),
	url("NanumSquareExtraBold.ttf") format("truetype"),
	url("NanumSquareExtraBold.svg#NanumSquare ExtraBold") format("svg");
	font-style: normal;
	font-weight: 700;
}
