@charset "utf-8";
.weight-900 {
    font-weight: 900 !important;
}

.weight-700 {
    font-weight: 700 !important;
}

.weight-400 {
    font-weight: 400 !important;
}

.weight-300 {
    font-weight: 300 !important;
}

.weight-100 {
    font-weight: 100 !important;
}

.radius {
    border-radius: .2rem;
}

.border {
    border: 1px solid #f0f0f0;
}

.shadow {
    box-shadow: 0px 0px 5px rgba(50, 50, 50, .2);
}

.block {
    display: block;
    width: 100%;
}

.inline-block {
    display: inline-block;
}

.relative {
    position: relative;
}

.underline {
    text-decoration: underline;
}

.pointer {
    cursor: pointer;
}

.valign90 {
    position: relative;
    display: block;
    top: 90%;
    -webkit-transform: translateY(-90%);
    transform: translateY(-90%);
}

.valign80 {
    position: relative;
    display: block;
    top: 80%;
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%);
}

.valign70 {
    position: relative;
    display: block;
    top: 70%;
    -webkit-transform: translateY(-70%);
    transform: translateY(-70%);
}

.valign50 {
    position: relative;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.valign30 {
    position: relative;
    display: block;
    top: 30%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bg-photo {
    position: relative;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.bg-photo-parallax {
    -webkit-background-attachment: fixed;
    background-attachment: fixed;
}

.bg-photo-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

.bg-photo-overlay-gradient {
    height: 100%;
    width: 100%;
    position: absolute;
    background: transparent;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.7) 100%)
}

/* margin-padding */
.padding {
    padding: 1.5rem;
}

.pad-top {
    padding-top: 1.5rem;
}

.pad-top-double {
    padding-top: 3rem;
}

.pad-top-half {
    padding-top: .75rem;
}

.pad-left {
    padding-left: 1.5rem
}

.pad-left-double {
    padding-left: 3rem;
}

.pad-left-half {
    padding-left: .75rem
}

.pad-right {
    padding-right: 1.5rem;
}

.pad-right-double {
    padding-right: 3rem;
}

.pad-right-half {
    padding-right: .75rem;
}

.pad-bottom {
    padding-bottom: 1.5rem;
}

.pad-bottom-double {
    padding-bottom: 3rem;
}

.pad-bottom-half {
    padding-bottom: .75rem;
}

.margin {
    margin: 1.5rem;
}

/* align */
.text-center .img-responsive {
    display: inline-block;
}

/* table */

.empty-td {
    padding: 30px!important;
    text-align: center;
}

/* wrap */

#wrap {
    position: relative;
    overflow: hidden;
}

.windows #wrap {
    font-smooth: always;
    transform: rotate(-0.0000000001deg);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
