@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: "Source Sans Pro", sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    overflow-y: scroll;
    -webkit-text-size-adjust: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
}

body {
    word-break: keep-all;
    background-color: #edf1f5;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    -webkit-transition: background-color .5s ease, color .5s ease;
    transition: background-color .5s ease, color .5s ease;
}

a:hover, a:link, a:visited {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}

p {
    line-height: 1.4em;
    font-size: 14px;
}

small {
    font-size: .8em;
}

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 1.9em;
    }
    h2 {
        font-size: 1.7em;
    }
    h3 {
        font-size: 1.5em;
    }
    h4 {
        font-size: 1.3em;
    }
    h5 {
        font-size: 1.1em;
    }
    h6 {
        font-size: 1em;
    }
}

@media only screen and (max-width: 991px) {
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.6em;
    }
    h3 {
        font-size: 1.4em;
    }
    h4 {
        font-size: 1.2em;
    }
    h5 {
        font-size: 1em;
    }
    h6 {
        font-size: .9em;
    }
    p {
        font-size: .9em;
    }
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 1.6em;
    }
    h2 {
        font-size: 1.4em;
    }
    h3 {
        font-size: 1.2em;
    }
    h4 {
        font-size: 1.1em;
    }
    h5 {
        font-size: .98em;
    }
    h6 {
        font-size: .9em;
    }
    p {
        font-size: .9em;
    }
}

@media only screen and (max-width: 414px) {
    h1 {
        font-size: 1.4em;
    }
    h2 {
        font-size: 1.2em;
    }
    h3 {
        font-size: 1.1em;
    }
    h4 {
        font-size: 1em;
    }
    h5 {
        font-size: .9em;
    }
    h6 {
        font-size: .85em;
    }
    p {
        font-size: .85em;
    }
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
    color: #aaa;
}

sup, sub {
    font-size: .5em;
}

strong {
    font-weight: 700;
}

i {
    font-style: italic;
}


/* wrap */

.weight-700 {
    font-weight: 700 !important;
}

.weight-400 {
    font-weight: 400 !important;
}

.weight-300 {
    font-weight: 300 !important;
}

.weight-100 {
    font-weight: 100 !important;
}

.radius {
    border-radius: 5px;
}

.border {
    border: 1px solid #f0f0f0;
}

.shadow {
    box-shadow: 0px 0px 5px rgba(50, 50, 50, .2);
}

.overflow-hidden {
    overflow: hidden;
}

.block {
    display: block;
    width: 100%;
}

.inline-block {
    display: inline-block;
}

.relative {
    position: relative;
}

.underline {
    text-decoration: underline;
}

.pointer {
    cursor: pointer;
}

.valign90 {
    position: relative;
    display: block;
    top: 90%;
    -webkit-transform: translateY(-90%);
    transform: translateY(-90%);
}

.valign80 {
    position: relative;
    display: block;
    top: 80%;
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%);
}

.valign70 {
    position: relative;
    display: block;
    top: 70%;
    -webkit-transform: translateY(-70%);
    transform: translateY(-70%);
}

.valign50 {
    position: relative;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.valign30 {
    position: relative;
    display: block;
    top: 30%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.height-100 {
    height: 100vh;
}

.height-50 {
    height: 50vh;
}

.height-40 {
    height: 40vh;
}

.height-30 {
    height: 30vh;
}

.height-25 {
    height: 25vh;
}

.height-20 {
    height: 20vh;
}

.height-10 {
    height: 10vh;
}

.bg-photo {
    position: relative;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.bg-photo-parallax {
    -webkit-background-attachment: fixed;
    background-attachment: fixed;
}

.bg-photo-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

.bg-photo-overlay-gradient {
    height: 100%;
    width: 100%;
    position: absolute;
    background: transparent;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.7) 100%)
}


/* margin-padding */

.main-row {
    margin: 0 -10px;
}

.main-row .col {
    padding-top: 20px;
}

.section-padding {
    padding: 20px;
}

.pad-top {
    padding-top: 20px;
}

.pad-top-double {
    padding-top: 40px;
}

.pad-top-half {
    padding-top: 10px;
}

.pad-left {
    padding-left: 20px;
}

.pad-left-double {
    padding-left: 40px;
}

.pad-left-half {
    padding-left: 10px;
}

.pad-right {
    padding-right: 20px;
}

.pad-right-double {
    padding-right: 40px;
}

.pad-right-half {
    padding-right: 10px;
}

.pad-bottom {
    padding-bottom: 20px;
}

.pad-bottom-double {
    padding-bottom: 40px;
}

.pad-bottom-half {
    padding-bottom: 10px;
}


/* align */

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.text-center .img-responsive {
    display: inline-block;
}


/* color-set */

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.text-offwhite {
    background-color: #f7fafc;
}

.text-gray {
    color: #f0f0f0;
}

.bg-white {
    background-color: #fff;
}

.bg-black {
    background-color: #000;
}

.bg-offwhite {
    background-color: #f7fafc;
}

.bg-gray {
    background-color: #f0f0f0;
}


/* table */

.table-responsive {
    border: none !important;
}

.table-custom {
    font-size: 14px;
}

.table-custom th {
    padding: 14px 8px !important;
    font-weight: 700;
    border: none !important;
    line-height: 20px !important;
}

.table-custom td {
    padding: 14px 8px !important;
    border: none !important;
    line-height: 20px !important;
}

.table-custom tr {
    border-bottom: 1px solid #f0f0f0 !important;
}

.table-custom tr:last-child {
    border-bottom: none !important;
}

.table-custom a {
    text-decoration: none !important;
}

.empty-td {
    padding: 30px!important;
    text-align: center;
}


/* btn-more */

.btn-more {
    position: absolute;
    top: -30px;
    right: 30px;
}

.btn-more a {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
}


/* flex-list */

.flex-list {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.flex-list li {
    display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}


/* tabs */

.tabs ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.tabs li {
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.tabs a {
    position: relative;
    display: block;
    margin: 0 -7%;
    color: #333;
    line-height: 40px;
    font-size: 14px;
}

.tabs a:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px 10px 0 0;
    background-color: #f0f0f0;
    -webkit-transform: perspective(5px) rotateX(0.53deg) translateZ(-1px);
    transform: perspective(5px) rotateX(0.53deg) translateZ(-1px);
}

.tabs a:hover:after {
    background-color: #eaeaea;
}

.tabs a.active {
    color: #fff;
}

.tabs a.active:after {
    background-color: #2780e3;
}

@media screen and (max-width: 767px) {
    .tabs a span {
        display: none;
    }
}


/* modal */

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}


/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container, .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/* list-form-grid */

.list-form-grid {
    overflow: hidden;
}

.list-form {
    padding: 20px;
    float: right;
}

.list-paging {
    padding: 20px;
    float: left;
}

@media only screen and (max-width: 767px) {
    .list-form {
        float: none;
        padding-bottom: 0;
    }
}


/* wrap */

#wrap {
    position: relative;
    overflow: hidden;
}

.windows #wrap {
    font-smooth: always;
    transform: rotate(-0.0000000001deg);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

#header {
    position: relative;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
}

#header .bg-landing {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background-image: url(/img/landing-bg.jpg);
}

#nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    min-height: 55px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(0, 0, 0, .18);
    -webkit-transition: height .5s ease, background-color .5s ease;
    transition: height .5s ease, background-color .5s ease;
}

.top #nav {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

#nav .nav-wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#nav a {
    color: #222;
}

.top #nav a {
    color: #fff;
}

#tnb {
    margin-top: -35px;
    text-align: right;
    -webkit-transition: margin-top .5s ease;
    transition: margin-top .5s ease;
}

.top #tnb {
    margin-top: 15px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

#tnb .tnb-list {
    overflow: hidden;
    display: inline-block;
}

#tnb .tnb-list>li {
    float: left;
    margin-left: 15px;
}

#tnb .gnb-trigger {
    display: none;
}

#tnb .language {
    line-height: 30px;
}

@media only screen and (max-width: 767px) {
    #nav {
        overflow: hidden;
    }
    .gnb-on #nav {
        height: 100vh;
        background-color: #fff;
    }
    .gnb-on #nav a {
        color: #222;
    }
    #tnb {
        position: fixed;
        right: 0px;
        line-height: 55px;
        margin-top: 0px;
    }
    #tnb .language-text {
        display: none;
    }
    #tnb .btn-danger {
        background-color: #fff;
        border-color: #fff;
        font-size: 16px;
    }
    .top #tnb .btn-danger {
        background-color: transparent;
        border-color: transparent;
    }
    #tnb .tnb-list>li {
        margin-left: 0;
        width: 45px;
        text-align: center;
    }
    #tnb .gnb-trigger {
        display: block;
        position: relative;
        width: 55px;
        height: 55px;
    }
    #tnb .gnb-trigger span {
        display: inline-block;
        position: absolute;
        left: 12px;
        width: 20px;
        height: 2px;
        background-color: #222;
        -webkit-transition: .5s ease;
        transition: .5s ease;
    }
    .top #tnb .gnb-trigger span {
        background-color: #fff;
    }
    .gnb-on #tnb .gnb-trigger span {
        background-color: #222;
    }
    #tnb .gnb-trigger span:first-child {
        top: 24px;
    }
    #tnb .gnb-trigger span:last-child {
        top: 30px;
    }
    .gnb-on #tnb .gnb-trigger span:first-child {
        top: 27px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .gnb-on #tnb .gnb-trigger span:last-child {
        top: 27px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

#gnb {}

#gnb .logo {
    position: relative;
    float: left;
    padding-left: 0px;
    line-height: 55px;
    font-size: 25px;
    -webkit-transition: font-size .5s ease, padding-left .5s ease, margin-top .5s ease;
    transition: font-size .5s ease, padding-left .5s ease, margin-top .5s ease;
}

.top #gnb .logo {
    font-size: 32px;
    padding-left: 30px;
    margin-top: -10px;
}

#gnb .megagen {
    position: absolute;
    top: -100px;
    -webkit-transition: top .5s ease;
    transition: top .5s ease;
}

.top #gnb .megagen {
    top: -30px;
}

#gnb .megagen img {
    height: 20px;
}

#gnb .gnb-list {
    float: right;
    overflow: hidden;
}

#gnb .gnb-list>li {
    float: left;
    margin-left: 20px;
    line-height: 55px;
}

#gnb .gnb-list>li>a:hover {
    color: #e33a96;
}

@media only screen and (max-width: 767px) {
    #gnb {
        width: 100%;
    }
    #gnb .logo {
        float: none;
        padding-left: 15px;
    }
    .top #gnb .logo {
        font-size: 25px;
        padding-left: 15px;
        margin-top: 10px;
    }
    #gnb .megagen {
        display: none;
    }
    #gnb .gnb-list {
        float: none;
    }
    #gnb .gnb-list>li {
        float: none;
        margin-left: 20px;
        line-height: 55px;
        display: none;
    }
    .gnb-on #gnb .gnb-list>li {
        display: block;
    }
}

#slogan {
    position: fixed;
    width: 100%;
    top: 45%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1;
    display: none;
}

.top #slogan {
    display: block;
}

#slogan .direct-icon {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: -60px;
    -webkit-animation: direct-down 4s infinite;
    animation: direct-down 4s infinite;
}

@keyframes direct-down {
    0% {
        bottom: -60px;
    }
    10% {
        bottom: -110px;
    }
    90% {
        bottom: -110px;
    }
    100% {
        bottom: -60px;
    }
}

#container {
    position: relative;
}

.landing-padding {
    padding: 100px 0 100px 0;
}

.mockup {
    max-width: 900px;
    margin: 0 auto;
}

.mockup img {
    display: inline-block;
}

.mockup h5 {
    font-weight: 300;
    max-width: 450px;
    margin: 0 auto;
    line-height: 1.6em;
}

.header-hr {
    display: inline-block;
    margin: 20px 0;
    padding: 0;
    width: 50px;
    height: 2px;
}

.content-hr {
    display: inline-block;
    margin: 30px auto;
    padding: 0;
    width: 150px;
    height: 2px;
}

.pricing {
    border: 1px solid #aaa;
    padding: 40px 15px;
    height: 480px;
    margin-top: 20px;
}

.pricing-premium {
    margin-top: 0;
    height: 520px;
    border: 2px solid #2780e3;
}

.pricing-enterprise {
    border: 1px solid #e33a96;
}

.pricing-list {
    padding-left: 80px;
    font-size: 14px;
    color: #aaa;
    line-height: 1.7em;
}

.pricing-list>li.active {
    color: #222;
}

#top-btn {
    display: block;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.top #top-btn {
    display: none;
}
